<!--
This file is part of dmTools.

dmTools is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

dmTools is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with dmTools. If not, see <https://www.gnu.org/licenses/>.
-->

<div class="main-content">
  <mat-toolbar class="header" color="primary">
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    {{title}}
  </mat-toolbar>

  <mat-sidenav-container class="side-navigation">
    <mat-sidenav
      #sidenav
      mode="push"
      [(opened)]="isOpened"
      (click)="sidenav.toggle()">
      <ul class="navigation-items">
        <li>
          <a
            routerLink="/main"
            routerLinkActive="acti"
            ariaCurrentWhenActive="page">
            Main
          </a>
        </li>
        <li>
          <a
            routerLink="/loot-generator"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            Loot Generator
          </a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <mat-toolbar class="footer" color="primary">
    <span class="version"><a href="https://github.com/jerome1232/dmTools/">{{appName}} v{{ appVersion }}</a></span>
  </mat-toolbar>
</div>
