<body class="mat-app-background">
  <mat-toolbar>{{title}}</mat-toolbar>
  <mat-card class="generator">
    <mat-card-header>
      <mat-card-title>Loot Generation Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="options">
        <div>
          <mat-slide-toggle ngModel name="groupLoot">Group Loot</mat-slide-toggle>
        </div>
        <div>
          <mat-slider class="slider" min="1" max="20" step="1" discrete>
            <input matSliderThumb [(ngModel)]="challengeRating">
          </mat-slider>
          <label id="slider-name-label" class="slider-name-label">CR</label>
          <label id="slider-value-label" class="slider-value-label">
          {{challengeRating}}
          </label>
        </div>
      </section>
      <mat-card-actions>
        <button mat-flat-button color="primary">Generate</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</body>
