.generator-card {
  margin: 1rem;
  padding: 1rem;
  max-width: auto;
  border-radius: 5px;
  overflow: scroll;
}

.options {
  padding: 1em;
}

.slider-name-label {
  padding-left: 1rem;
}

.options-buttons button {
  padding: 1rem;
  margin: 0.25rem;
}
