<!--
This file is part of dmTools.

dmTools is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

dmTools is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with dmTools. If not, see <https://www.gnu.org/licenses/>.
-->

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Loot Generation Options</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="options">
      <div>
        <mat-slide-toggle [(ngModel)]="groupLoot" name="groupLoot">Hoard Loot</mat-slide-toggle>
      </div>
      <div>
        <mat-slider class="slider" min="1" max="20" step="1" discrete>
          <input matSliderThumb [(ngModel)]="challengeRating">
        </mat-slider>
        <label id="slider-name-label" class="slider-name-label">CR</label>
        <label id="slider-value-label" class="slider-value-label">
        {{challengeRating}}
        </label>
      </div>
    </section>
    <mat-card-actions class="options-buttons">
      <button
        mat-flat-button
        color="primary"
        (click)="generateLoot()">Generate</button>
      <button
        mat-flat-button
        color="accent"
        (click)="clear()">Clear</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card class="card" *ngIf="loot.coins.length > 0 || loot.treasures.length > 0">
  <mat-card-header>
        <button
          mat-icon-button
          matTooltip="Copy to clipboard"
          aria-label="Copy to clipboard"
          (click)="onCopyToClipboardClick()">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Sell Loot"
          aria-label="Sell Loot"
          (click)="onSellClick()">
          <mat-icon>sell</mat-icon>
        </button>
  </mat-card-header>
  <mat-card class="card" *ngIf="loot.coins.length > 0">
    <table
      #coinTable
      *ngIf="loot.coins.length > 0"
      mat-table
      id="0"
      [dataSource]="loot.coins">

      <ng-container matColumnDef="coin">
        <th mat-header-cell *matHeaderCellDef> Coin </th>
        <td mat-cell *matCellDef="let element"> {{getCoinName(element.type)}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button>Re-Roll</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

  <mat-card class="card" *ngIf="loot.treasures.length > 0">
    <table
      #treasureTable
      *ngIf="loot.treasures.length > 0"
      mat-table
      id="1"
      [dataSource]="loot.treasures">

      <ng-container matColumnDef="treasure">
        <th mat-header-cell *matHeaderCellDef> Treasure </th>
        <td mat-cell *matCellDef="let element"> {{getTreasureTypeName(element.type)}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value (gp)</th>
        <td mat-cell *matCellDef="let element"> {{element.value === 0 ? '-' : element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button>Re-Roll</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayTreasureColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayTreasureColumns;"></tr>
    </table>
    </mat-card>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
